/* Common styles */
:root {
    --corporate-blue: #1890FF;
    --height-header: 48px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;   
    color: #000000d8;
    line-height: 1;
}
a {
    color: var(--corporate-blue);
}
.button-set {
    display: flex;
}
.c-button {
    background-color: var(--corporate-blue);
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    border:0;
    border-radius: 2px;
    transition: all 0.3s;
    cursor: pointer;
    min-width: 115px;
    &:hover {
        opacity: 0.8;
    }
    &.outline {
        color: rgb(50, 50, 50);
        background-color: #fff;
        border: 1px solid #ccc;
    }
}
.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    &.icon-user {
        background-image: url('../assets/icons/icon-user.png');
    }
    &.icon-world {
        background-image: url('../assets/icons/icon-global.png');
    }
    &.icon-lock {
        background-image: url('../assets/icons/icon-lock.png');
    }
    &.icon-phone {
        background-image: url('../assets/icons/icon-phone.png');
    }
    &.icon-mail {
        background-image: url('../assets/icons/icon-mail.png');
    }
    &.icon-github {
        background-image: url('../assets/icons/icon-github.png');
    }
    &.icon-dashboard {
        background-image: url('../assets/icons/icon-dashboard.png');
    }
    &.icon-profile {
        background-image: url('../assets/icons/icon-profile.png');
    }
    &.icon-menu {
        background-image: url('../assets/icons/icon-menu.png');
    }
    &.icon-heart-full {
        background-image: url('../assets/icons/icon-heart-full.png');
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
    }
    &.icon-heart-outline {
        background-image: url('../assets/icons/icon-heart-outline.png');
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
    }
    &.icon-search {
        background-image: url('../assets/icons/icon-search.png');
    }
    &.icon-help {
        background-image: url('../assets/icons/icon-help.png');
    }
    &.icon-bell {
        background-image: url('../assets/icons/icon-bell.png');
    }
    &.icon-language {
        background-image: url('../assets/icons/icon-language.png');
    }
    &.icon-chevron {
        background-image: url('../assets/icons/icon-chevron.png');
    }
}
/* Common styles */


div.box {
    background-image: url('../assets/img/cover-home.jpg');

    @media (-webkit-min-device-pixel-ratio: 1) {
        border:1px solid red;
    }
      
    @media (-webkit-min-device-pixel-ratio: 2) {
        border:1px solid blue;
        background-image: url('../assets/img/cover-home@2x.jpg');
    }

}